.sass-cache/
.tscache/
.vscode
node_modules/.bin/grunt
node_modules
dist
deploylocation/
app/**/*.js
app/**/*.map
custom.css
index.html
assets/
icons*/**/*
images/
polyfills.js
vendor.js
app.js
package-lock.json