################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
.vs
*.suo
*.user
*.log
*.dbmdl
/packages/
/TestResults
*.Cache
**/bower_components
**/node_modules
**/Staging/*
**.lock.json
.vs
.vscode
.idea
*.jfm
*.ncrunchproject

#Specific files
oneui.min.js
custom.css
/src/Inshapardaz.Api/App_Data
