<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://api-nawishta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/370dd9c3-24b1-4218-9896-403457c19ca2/resourceGroups/Nawistha/providers/Microsoft.Web/sites/api-nawishta</ResourceId>
    <UserName>$api-nawishta</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://api-nawishta.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>