<div class="block-header bg-gray-lighter">
    <ul class="block-options">
    <li>
        <span>
            <i class="fa fa-plus"></i>
            Add Translations</span>
    </li>
</ul>
<h3 class="block-title">Translations</h3>
</div>
<div class="block-content">
    <div class="block-content">
        <ul class="nav-users push" *ngIf="translations != null">
            <li *ngFor="let translation of translations">
                <a href="javacript:void(0)">
                        <i class="fa fa-circle text-success"></i> {{translation.value}}
                        <div class="font-w400 text-muted"><small>{{translation.language}}</small></div>
                    </a>
                </li>
        </ul>
        <p class="font-s13" *ngIf="translations != null">No translations available. Why not add some.</p>
    </div>